html {
  font-family: 'Source Sans Pro', -apple-system, BlinkMacSystemFont, 'Segoe UI',
    Roboto, 'Helvetica Neue', Arial, sans-serif;
  font-size: 16px;
  word-spacing: 1px;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  box-sizing: border-box;
  height: 100%;
  overflow: hidden;
}

body {
  max-height: 100%;
  min-height: 100%;
  height: 100%;
  overflow: hidden;
  background-color: #f0f2f5;
}

*,
*:before,
*:after {
  box-sizing: border-box;
  margin: 0;
}

.body-container {
  height: 100%;
}
a {
  text-decoration: none;
  color: #333;
}
.font-color {
  color: $color;
}
