$fixed_width: 1280px;
.pc.is_fixed_width .body-container {
  width: $fixed_width;
  margin: auto;
}
.pc.is_fixed_width .page-header {
  position: absolute;
  background-color: #409eff;
  width: 100%;
  height: 64px !important;
  left: 0;
  top: 0;
}
.pc.is_fixed_width .container-top {
  width: $fixed_width;
  margin: auto;
}
.pc.is_fixed_width .page-container {
  height: 100%;
  padding-top: 64px;
}
.pc.is_fixed_width #page-main {
  padding-right: 0;
}

@media screen and (min-width: 1200px) {
}

@media screen and (min-width: 1000px) and (max-width: 1200px) {
}
@media screen and (min-width: 850px) and (max-width: 1000px) {
}
@media screen and (min-width: 700px) and (max-width: 850px) {
  .page-simple-header {
    height: 40px !important;
    line-height: 40px;
  }
}
@media screen and (max-width: 699px) {
  $topHeight: 40px;

  .page-simple-header {
    height: 40px !important;
    line-height: 40px;
  }
  .error-page {
    flex-wrap: wrap;
    transform: unset !important;
    .img {
      margin: auto !important;
      max-height: 300px;
    }
    .desc {
      text-align: left;
    }
  }
  #page-main {
    padding: 12px 0 0;
  }
  #main-scrollbar {
    padding: 5px 0 5px 5px !important;
    border-radius: 0 !important;
  }
  .page-header {
    height: auto !important;
  }
  .container-top {
    padding: 0 12px !important;
    height: $topHeight !important;
    line-height: $topHeight !important;
  }
  .top-left.header-top {
    margin-right: auto;
    .top-left__title {
      display: none;
    }
  }
  .top-left__logo,
  .top-title {
    display: none;
  }
  .top-right {
    .el-icon-message {
      font-size: 18px !important;
    }
    &__img {
      display: none;
    }
  }
  .page-aside {
    position: fixed;
    height: 100%;
    z-index: 999;
    opacity: 0.9;
    top: 0;
    display: none;
    width: 0;
    .sidebar {
      padding-top: 60px !important;
    }
    .sidebar-top.top-left {
      display: flex !important;
    }
  }
  .page-aside.is-collapse {
    display: block;
  }
  #page-footer {
    display: none;
  }
}
